/*COMMON*/
* {
    margin: 0;
    padding: 0;
}

.web_container {
    width: 1400px;
    margin: auto;
}

/*COMMON*/

/*HEADER*/
.header {
    width: 100%;
    position: relative;
    background-color: rgb(216, 216, 216);
}

.header-row1 {
    position: relative;
    padding: 20px 0 20px 0;
}

.logo_container {
    display: inline-block;
    left: 0;
}

#logo {
    width: 200px;
    height: 36px;
}

.login_container {
    position: absolute;
    display: inline-block;
    right: 0;
}

.username_field, .password_field {
    display: inline-block;
}

.signUp-link {
    position: absolute;
    right: 0;
}

.header-row2 {
    background-color: black;
}

#slider_container {
    background-color: rgb(85, 85, 85);
    height: 350px;
}

/*HEADER*/

/*BODY*/
.body {
    width: 100%;
    position: relative;
    background-color: rgb(172, 172, 172);
}

.body_container {
    padding-top: 45px;
}

/*BODY*/