/*COMMON*/
* {
    margin: 0;
    padding: 0;
}

.web_container {
    width: 1400px;
    margin: auto;
}

/*COMMON*/

/*HEADER*/
.header {
    width: 100%;
    position: relative;
    background-color: rgb(216, 216, 216);
}

.header-row1 {
    position: relative;
    padding: 20px 0 20px 0;
}

.logo_container {
    display: inline-block;
    left: 0;
}

#logo {
    width: 200px;
    height: 36px;
}

.login_container {
    position: absolute;
    display: inline-block;
    right: 0;
}

.username_field, .password_field {
    display: inline-block;
}

.signUp-link {
    position: absolute;
    right: 0;
}

.header-row2 {
    background-color: black;
}

#slider_container {
    background-color: rgb(85, 85, 85);
    background-image: url();
    height: 350px;
}

/*HEADER*/

/*BODY*/
.body {
    width: 100%;
    position: relative;
    background-color: rgb(172, 172, 172);
}

.body_container {
    padding-top: 45px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    position: absolute;
    right: 50%;
    font-size: 28px;
    font-weight: bold;
}

#booking_result {
    color: #aaaaaa;
    position: absolute;
    right: 50%;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*BODY*/